/* src/App.css */

/* Remove margens e paddings padrões do navegador */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
}

.App {
  /* Este padding-top é CRUCIAL. 
     Ele cria um espaço no topo da página com a mesma altura da sua Navbar.
     Ajuste o valor '60px' se a altura da sua Navbar for diferente. */
  padding-top: 90px; 
}
